<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- Dynamic CSS loading using Thymeleaf -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
    <!-- Include navigation menu -->
    <div th:replace="topNavMenu.html :: topNavMenu"></div>

    <div class="backgroundDashboard">
        <div class="table-container">
            <table border="1" class="styled-table">
                <caption>
                    <h2>User Table</h2>
                </caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
